#kontak_bg {

    background-image: url("https://wallpaperaccess.com/full/2431551.jpg");
  
    height: 730px;
  
  }
  
  
  .kontak {
  
    color: black;
  
    text-align: center;
  
    margin-top: 208px;
  
    background-color: white;
  
  }